<div dir="ltr" style="text-align: left;" trbidi="on">
<h2 style="text-align: center;">
SPACE LATTICE AND UNIT CELL&nbsp;</h2>
<div>
<h3 style="text-align: left;">
Date : 10/8/2020</h3>
</div>
<h3 style="text-align: left;">
Today we will read about spce Lattice and Unitcell in solid state. And will also read the type of crystal system. Remember, the video will not be found further, so by watching it again and again. Or save and make notes. This is very important page for your study . When watch it write the answer of the questions . given just below to the video</h3>
<div>
<br /></div><iframe width="560" height="315" src="https://www.youtube.com/embed/S49VFBqYS4A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div>
<h3 style="text-align: left;">
You have to write answer of the following questions<br />
Q.1 What are  the differences between following  <br />
a).Cubic crystal and Orthorhomic solid <br />
b). Hexagonal solid and Trigonal solid <br />
Q.2. How many unit cells are shared by the particles belonign to (a) Corner (b) Face centre (c) Body centre (d) Edges of space lattice <br/>
Q.3. Define  <br />
       a)  Unit cell and space lattice <br />
       b)  Bravais lattices  and crystal system <br />
       c) Parameters of unit cell <br />
Q.4. Caculate number of particles per unit cell for primitive , <br>
     face centred, body centred and end centred unit cell.<br> 
     Which crystal system has all these foure types of unit cell . <br> 
     What are the unit cells in cubic crystal system write their name and Calculate number of prticles per unit cell 

</h3>
</div>
</div>
